<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark justify-content-end">
        <ul class="nav nav-pills pe-2">
          <li class="nav-item pe-2">
            <a class="nav-link active" href="/">Admin</a>
          </li>
          <li class="nav-item pe-2">
            <a class="nav-link active" href="/student">Student</a>
          </li>
            </li>
            <li class="nav-item pe-2">
                <a class="nav-link active" href="/video">Today's Attendance</a>
          </li>
            <li class="nav-item ">
            <a class="nav-link active" href="/automsg">Send Message</a>
          </li>
        </ul>
    </nav>

<div class="position-absolute top-50 start-50 translate-middle">
    <div class="row text-center">
        <div class="col-12 mx-auto ">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="red" class="bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                 <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
        </div>
        <div class="col-12 mt-4 text-center alert alert-danger"> <b>Message can't be send</b> Come back later</div>
    </div>


</div>







<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>