<!--//templates/edit.html-->
{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{student.roll}}" method="POST" enctype="multipart/form-data">
<!--          <div class="form-group">-->
<!--            <input type="text" name="fname" value="{{student.fname}}" class="form-control">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <input type="text" name="lname" value="{{student.lname}}" class="form-control">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <input type="text" name="email" value="{{student.email}}" class="form-control">-->
<!--          </div>-->

          <div class="form-group">
            <input type="text" class="form-control" name="rollNo" value="{{student.roll}}" placeholder="Roll Number">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="sname" value="{{student.name}}" placeholder="Name" >
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="dept" value="{{student.dept}}" placeholder="Dept." >
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="contact" value="{{student.contact}}" placeholder="phone no" pattern="/d{10}/">
          </div>
          <div class="form-group">
            <input type="file" name="file" class="form-control" value="{{student.image}}" autocomplete="off" required accept=".jpg">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}